# ACS/Census Variable web scraping 

## Finding the variable names for Census and ACS data is hard. It can either be incredibly montonous having to go one by one and changing the names via Excel or even using some random R package to convert these things! 

### This script serves to do a couple things: 

#### 1. Reads in the 'Variables' page from Census and ACS tables 
#### 2. Scrapes the table contents and converts them into a Data Frame 
#### 3. The output provides a CSV that can be referenced into a list or a dictionary so that the column names for whatever tables you pull can be easily renamed

In [1]:
import pandas as pd
import requests 
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import re

### Create dataframe out of the 'variables' page offered on ACS/Census website based on the table.

In [2]:
emp_matrix = "https://data.bls.gov/projections/nationalMatrix?queryParams=621000&ioType=i"
varnames_r = requests.get(emp_matrix)
text = varnames_r.text
text_soup = BeautifulSoup(text, 'lxml')

#### Now that we have the web page in a readable format, let's find all of the table cells.  The html tag " td" is how table cells are formatted in html language. 

#### Go the the section starting with 'Table' here to see a complete list of html tags: https://www.w3schools.com/TAGs/

In [3]:
rows = text_soup.find_all("tr")
print(rows[:10])

[<tr>
<th class="oep cellbordered" id="col1" style="text-align: center; vertical-align: bottom"><strong>Occupation Title</strong></th>
<th class="oep cellbordered" id="col2" style="text-align: center; vertical-align: bottom"><strong>Occupation Code</strong></th>
<th class="oep cellbordered" id="col3" style="text-align: center; vertical-align: bottom"><strong>Occupation Type</strong></th>
<th class="oep cellbordered" id="col4" style="text-align: center; vertical-align: bottom"><strong>2018 Employment</strong></th>
<th class="oep cellbordered" id="col5" style="text-align: center; vertical-align: bottom"><strong>2018 Percent of Industry</strong></th>
<th class="oep cellbordered" id="col6" style="text-align: center; vertical-align: bottom"><strong>2018 Percent of Occupation</strong></th>
<th class="oep cellbordered" id="col7" style="text-align: center; vertical-align: bottom"><strong>Projected 2028 Employment</strong></th>
<th class="oep cellbordered" id="col8" style="text-align: center; vertical-align: bottom"><strong>Projected 2028 Percent of Industry</strong></th>
<th class="oep cellbordered" id="col9" style="text-align: center; vertical-align: bottom"><strong>Projected 2028 Percent of Occupation</strong></th>
<th class="oep cellbordered" id="col10" style="text-align: center; vertical-align: bottom"><strong>Employment Change, 2018-2028</strong></th>
<th class="oep cellbordered" id="col11" style="text-align: center; vertical-align: bottom"><strong>Employment Percent Change, 2018-2028</strong></th>
<th class="oep cellbordered" style="text-align: center; vertical-align: bottom"><strong>Occupation Sort</strong></th>
<th class="oep cellbordered" id="col12" style="text-align: center; vertical-align: bottom"><strong>Display Level</strong></th>
</tr>, <tr id="search_boxes">
<td class="oep cellbordered" colspan="1" rowspan="1" style="text-align: center; vertical-align: bottom">
<label class="dq-sort-label" for="searchTitle">Filter by Title:</label>
<input class="search_column" id="searchTitle" name="occ_title" type="text" value="Search"/>
</td>
<td class="oep cellbordered" colspan="1" rowspan="1" style="text-align: center; vertical-align: bottom">
<label class="dq-sort-label" for="searchCode">Filter by Code:</label>
<input class="search_column" id="searchCode" name="occ_code" type="text" value="Search"/>
</td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
<td class="oep cellbordered" style="text-align: center; vertical-align: bottom"> </td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row1 col1" id="row1"><a href="/projections/nationalMatrix?queryParams=00-0000&amp;ioType=o">Total, all occupations</a></td>
<td class="cellbordered cellright nowrap" headers="row1 col2">00-0000</td>
<td class="cellbordered cellright" headers="row1 col3">Summary</td>
<td class="cellbordered cellright" headers="row1 col4">7,498.9</td>
<td class="cellbordered cellright" headers="row1 col5">100.0</td>
<td class="cellbordered cellright" headers="row1 col6">4.7</td>
<td class="cellbordered cellright" headers="row1 col7">9,383.1</td>
<td class="cellbordered cellright" headers="row1 col8">100.0</td>
<td class="cellbordered cellright" headers="row1 col9">5.5</td>
<td class="cellbordered cellright" headers="row1 col10">1,884.2</td>
<td class="cellbordered cellright" headers="row1 col11">25.1</td>
<td class="cellbordered cellright"></td>
<td class="cellbordered cellright" headers="row1 col12">0</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row2 col1" id="row2"><p style="padding-left:1em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-0000&amp;ioType=o">Management occupations</a></p></td>
<td class="cellbordered cellright nowrap" headers="row2 col2">11-0000</td>
<td class="cellbordered cellright" headers="row2 col3">Summary</td>
<td class="cellbordered cellright" headers="row2 col4">223.7</td>
<td class="cellbordered cellright" headers="row2 col5">3.0</td>
<td class="cellbordered cellright" headers="row2 col6">2.2</td>
<td class="cellbordered cellright" headers="row2 col7">300.6</td>
<td class="cellbordered cellright" headers="row2 col8">3.2</td>
<td class="cellbordered cellright" headers="row2 col9">2.8</td>
<td class="cellbordered cellright" headers="row2 col10">76.8</td>
<td class="cellbordered cellright" headers="row2 col11">34.3</td>
<td class="cellbordered cellright">2</td>
<td class="cellbordered cellright" headers="row2 col12">1</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row3 col1" id="row3"><p style="padding-left:2em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-1000&amp;ioType=o">Top executives</a></p></td>
<td class="cellbordered cellright nowrap" headers="row3 col2">11-1000</td>
<td class="cellbordered cellright" headers="row3 col3">Summary</td>
<td class="cellbordered cellright" headers="row3 col4">49.4</td>
<td class="cellbordered cellright" headers="row3 col5">0.7</td>
<td class="cellbordered cellright" headers="row3 col6">1.8</td>
<td class="cellbordered cellright" headers="row3 col7">61.8</td>
<td class="cellbordered cellright" headers="row3 col8">0.7</td>
<td class="cellbordered cellright" headers="row3 col9">2.2</td>
<td class="cellbordered cellright" headers="row3 col10">12.4</td>
<td class="cellbordered cellright" headers="row3 col11">25.2</td>
<td class="cellbordered cellright">3</td>
<td class="cellbordered cellright" headers="row3 col12">2</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row4 col1" id="row4"><p style="padding-left:3em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-1011&amp;ioType=o">Chief executives</a></p></td>
<td class="cellbordered cellright nowrap" headers="row4 col2">11-1011</td>
<td class="cellbordered cellright" headers="row4 col3">Line Item</td>
<td class="cellbordered cellright" headers="row4 col4">5.8</td>
<td class="cellbordered cellright" headers="row4 col5">0.1</td>
<td class="cellbordered cellright" headers="row4 col6">2.2</td>
<td class="cellbordered cellright" headers="row4 col7">6.3</td>
<td class="cellbordered cellright" headers="row4 col8">0.1</td>
<td class="cellbordered cellright" headers="row4 col9">2.5</td>
<td class="cellbordered cellright" headers="row4 col10">0.5</td>
<td class="cellbordered cellright" headers="row4 col11">8.7</td>
<td class="cellbordered cellright">4</td>
<td class="cellbordered cellright" headers="row4 col12">3</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row5 col1" id="row5"><p style="padding-left:3em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-1021&amp;ioType=o">General and operations managers</a></p></td>
<td class="cellbordered cellright nowrap" headers="row5 col2">11-1021</td>
<td class="cellbordered cellright" headers="row5 col3">Line Item</td>
<td class="cellbordered cellright" headers="row5 col4">43.5</td>
<td class="cellbordered cellright" headers="row5 col5">0.6</td>
<td class="cellbordered cellright" headers="row5 col6">1.8</td>
<td class="cellbordered cellright" headers="row5 col7">55.5</td>
<td class="cellbordered cellright" headers="row5 col8">0.6</td>
<td class="cellbordered cellright" headers="row5 col9">2.2</td>
<td class="cellbordered cellright" headers="row5 col10">11.9</td>
<td class="cellbordered cellright" headers="row5 col11">27.4</td>
<td class="cellbordered cellright">5</td>
<td class="cellbordered cellright" headers="row5 col12">3</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row6 col1" id="row6"><p style="padding-left:2em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-2000&amp;ioType=o">Advertising, marketing, promotions, public relations, and sales managers</a></p></td>
<td class="cellbordered cellright nowrap" headers="row6 col2">11-2000</td>
<td class="cellbordered cellright" headers="row6 col3">Summary</td>
<td class="cellbordered cellright" headers="row6 col4">6.0</td>
<td class="cellbordered cellright" headers="row6 col5">0.1</td>
<td class="cellbordered cellright" headers="row6 col6">0.8</td>
<td class="cellbordered cellright" headers="row6 col7">7.9</td>
<td class="cellbordered cellright" headers="row6 col8">0.1</td>
<td class="cellbordered cellright" headers="row6 col9">1.0</td>
<td class="cellbordered cellright" headers="row6 col10">1.9</td>
<td class="cellbordered cellright" headers="row6 col11">31.1</td>
<td class="cellbordered cellright">7</td>
<td class="cellbordered cellright" headers="row6 col12">2</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row7 col1" id="row7"><p style="padding-left:3em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-2011&amp;ioType=o">Advertising and promotions managers</a></p></td>
<td class="cellbordered cellright nowrap" headers="row7 col2">11-2011</td>
<td class="cellbordered cellright" headers="row7 col3">Line Item</td>
<td class="cellbordered cellright" headers="row7 col4">0.1</td>
<td class="cellbordered cellright" headers="row7 col5">0.0</td>
<td class="cellbordered cellright" headers="row7 col6">0.4</td>
<td class="cellbordered cellright" headers="row7 col7">0.1</td>
<td class="cellbordered cellright" headers="row7 col8">0.0</td>
<td class="cellbordered cellright" headers="row7 col9">0.5</td>
<td class="cellbordered cellright" headers="row7 col10">0.0</td>
<td class="cellbordered cellright" headers="row7 col11">23.0</td>
<td class="cellbordered cellright">8</td>
<td class="cellbordered cellright" headers="row7 col12">3</td>
</tr>, <tr>
<td class="cellbordered cellLeft" headers="row8 col1" id="row8"><p style="padding-left:3em; margin:0px"><a href="/projections/nationalMatrix?queryParams=11-2020&amp;ioType=o">Marketing and sales managers</a></p></td>
<td class="cellbordered cellright nowrap" headers="row8 col2">11-2020</td>
<td class="cellbordered cellright" headers="row8 col3">Summary</td>
<td class="cellbordered cellright" headers="row8 col4">4.8</td>
<td class="cellbordered cellright" headers="row8 col5">0.1</td>
<td class="cellbordered cellright" headers="row8 col6">0.7</td>
<td class="cellbordered cellright" headers="row8 col7">6.3</td>
<td class="cellbordered cellright" headers="row8 col8">0.1</td>
<td class="cellbordered cellright" headers="row8 col9">0.9</td>
<td class="cellbordered cellright" headers="row8 col10">1.5</td>
<td class="cellbordered cellright" headers="row8 col11">31.0</td>
<td class="cellbordered cellright">9</td>
<td class="cellbordered cellright" headers="row8 col12">3</td>
</tr>]

#### So a table exists! We can now run a for loop to gather all of those td cells into a table format.

#### Here is some documentation on re: https://docs.python.org/2/library/re.html

In [4]:
list_rows = []
for row in rows:
    # gets all of the cells with the html tag <td>
    cells = row.find_all('td')
    # converts all of the cells into a string
    str_cells = str(cells)
    # creates a regular expression object so that the string can be looped 
    clean = re.compile('<.*?>')
    # doing a second round of cleaning by substituting the clean cells with the string cells  and then appending
    # into the list `list_rows`
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[Packers and packagers, hand, 53-7064, Line Item, 0.1, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 31.5, 1070, 4]

str

#### Creating a dataframe out of the list of cells that we just created

In [5]:
bls_621_empmat = pd.DataFrame(list_rows)
bls_621_empmat.head(10)

                                                   0
0                                                 []
1  [\nFilter by Title:\n\n, \nFilter by Code:\n\n...
2  [Total, all occupations, 00-0000, Summary, 7,4...
3  [Management occupations, 11-0000, Summary, 223...
4  [Top executives, 11-1000, Summary, 49.4, 0.7, ...
5  [Chief executives, 11-1011, Line Item, 5.8, 0....
6  [General and operations managers, 11-1021, Lin...
7  [Advertising, marketing, promotions, public re...
8  [Advertising and promotions managers, 11-2011,...
9  [Marketing and sales managers, 11-2020, Summar...

#### Our dataframe is a bit clunky with the way that it's structured because it maintained the form of a list while still being committed to a df. 

#### Use str.split to treat it as a comma delimiter. Documentation: https://python-reference.readthedocs.io/en/latest/docs/str/split.html

In [7]:
df1 = bls_621_empmat[0].str.split(',', expand = True)
df1.head(10)

# Let's also remove the leading bracket from the dataframe to clean things up a bit more.

df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,\nFilter by Title:\n\n,\nFilter by Code:\n\n,,,,,,,,,,,],None,None,None,None
2,Total,all occupations,00-0000,Summary,7,498.9,100.0,4.7,9,383.1,100.0,5.5,1,884.2,25.1,,0]
3,Management occupations,11-0000,Summary,223.7,3.0,2.2,300.6,3.2,2.8,76.8,34.3,2,1],None,None,None,None
4,Top executives,11-1000,Summary,49.4,0.7,1.8,61.8,0.7,2.2,12.4,25.2,3,2],None,None,None,None
5,Chief executives,11-1011,Line Item,5.8,0.1,2.2,6.3,0.1,2.5,0.5,8.7,4,3],None,None,None,None
6,General and operations managers,11-1021,Line Item,43.5,0.6,1.8,55.5,0.6,2.2,11.9,27.4,5,3],None,None,None,None
7,Advertising,marketing,promotions,public relations,and sales managers,11-2000,Summary,6.0,0.1,0.8,7.9,0.1,1.0,1.9,31.1,7,2]
8,Advertising and promotions managers,11-2011,Line Item,0.1,0.0,0.4,0.1,0.0,0.5,0.0,23.0,8,3],None,None,None,None
9,Marketing and sales managers,11-2020,Summary,4.8,0.1,0.7,6.3,0.1,0.9,1.5,31.0,9,3],None,None,None,None

## Creating headers for our DataFrame

#### We're missing headers for our dataframe! How are we even supposed to know what we're looking at?! Luckily, as stated above html has tags to label headers. In our case, it's 'th'. Let's use the same process we did before to get the table cells for getting the table headers

In [8]:
col_headers = text_soup.find_all('th')

all_header = []
col_str = str(col_headers)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Occupation Title, Occupation Code, Occupation Type, 2018 Employment, 2018 Percent of Industry, 2018 Percent of Occupation, Projected 2028 Employment, Projected 2028 Percent of Industry, Projected 2028 Percent of Occupation, Employment Change, 2018-2028, Employment Percent Change, 2018-2028, Occupation Sort, Display Level]']

#### Create the dataframe and clean up the output from the for loop

In [9]:
df_headers = pd.DataFrame(all_header)
df_headers.head()

df_headers_clean = df_headers[0].str.split(',', expand=True)
df_headers_clean.head()

df_headers_clean[0] = df_headers_clean[0].str.strip('[')
df_headers_clean.head(10)

df_headers_clean[0] = df_headers_clean[0].str.strip('')
df_headers_clean.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028,Occupation Sort,Display Level]

### Let's concatenate the two tables we made using concat()

In [10]:
frames = [df_headers_clean, df1]

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028,Occupation Sort,Display Level],NaN,NaN
0,],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,\nFilter by Title:\n\n,\nFilter by Code:\n\n,,,,,,,,,,,],None,None,None,None
2,Total,all occupations,00-0000,Summary,7,498.9,100.0,4.7,9,383.1,100.0,5.5,1,884.2,25.1,,0]
3,Management occupations,11-0000,Summary,223.7,3.0,2.2,300.6,3.2,2.8,76.8,34.3,2,1],None,None,None,None
4,Top executives,11-1000,Summary,49.4,0.7,1.8,61.8,0.7,2.2,12.4,25.2,3,2],None,None,None,None
5,Chief executives,11-1011,Line Item,5.8,0.1,2.2,6.3,0.1,2.5,0.5,8.7,4,3],None,None,None,None
6,General and operations managers,11-1021,Line Item,43.5,0.6,1.8,55.5,0.6,2.2,11.9,27.4,5,3],None,None,None,None
7,Advertising,marketing,promotions,public relations,and sales managers,11-2000,Summary,6.0,0.1,0.8,7.9,0.1,1.0,1.9,31.1,7,2]
8,Advertising and promotions managers,11-2011,Line Item,0.1,0.0,0.4,0.1,0.0,0.5,0.0,23.0,8,3],None,None,None,None

#### Based on the dataframe above, we still don't have the appropriate column headers, so let's change that.

In [11]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028,Occupation Sort,Display Level],nan,nan
0,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028,Occupation Sort,Display Level],NaN,NaN
0,],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,\nFilter by Title:\n\n,\nFilter by Code:\n\n,,,,,,,,,,,],None,None,None,None
2,Total,all occupations,00-0000,Summary,7,498.9,100.0,4.7,9,383.1,100.0,5.5,1,884.2,25.1,,0]
3,Management occupations,11-0000,Summary,223.7,3.0,2.2,300.6,3.2,2.8,76.8,34.3,2,1],None,None,None,None

#### Next, let's get rid of the first three rows since they do not have anything of value

In [12]:
df6 = df5.drop(df5.index[:3])
df6.head()

,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028,Occupation Sort,Display Level],nan,nan
2,Total,all occupations,00-0000,Summary,7,498.9,100.0,4.7,9,383.1,100.0,5.5,1,884.2,25.1,,0]
3,Management occupations,11-0000,Summary,223.7,3.0,2.2,300.6,3.2,2.8,76.8,34.3,2,1],None,None,None,None
4,Top executives,11-1000,Summary,49.4,0.7,1.8,61.8,0.7,2.2,12.4,25.2,3,2],None,None,None,None
5,Chief executives,11-1011,Line Item,5.8,0.1,2.2,6.3,0.1,2.5,0.5,8.7,4,3],None,None,None,None
6,General and operations managers,11-1021,Line Item,43.5,0.6,1.8,55.5,0.6,2.2,11.9,27.4,5,3],None,None,None,None

#### Finally, let's get rid of the 1 million null columns that we have

In [13]:
df7 = df6.dropna(axis=1, how='any')

In [14]:
df7

,Occupation Title,Occupation Code,Occupation Type,2018 Employment,2018 Percent of Industry,2018 Percent of Occupation,Projected 2028 Employment,Projected 2028 Percent of Industry,Projected 2028 Percent of Occupation,Employment Change,2018-2028,Employment Percent Change,2018-2028
2,Total,all occupations,00-0000,Summary,7,498.9,100.0,4.7,9,383.1,100.0,5.5,1
3,Management occupations,11-0000,Summary,223.7,3.0,2.2,300.6,3.2,2.8,76.8,34.3,2,1]
4,Top executives,11-1000,Summary,49.4,0.7,1.8,61.8,0.7,2.2,12.4,25.2,3,2]
5,Chief executives,11-1011,Line Item,5.8,0.1,2.2,6.3,0.1,2.5,0.5,8.7,4,3]
6,General and operations managers,11-1021,Line Item,43.5,0.6,1.8,55.5,0.6,2.2,11.9,27.4,5,3]
7,Advertising,marketing,promotions,public relations,and sales managers,11-2000,Summary,6.0,0.1,0.8,7.9,0.1,1.0
8,Advertising and promotions managers,11-2011,Line Item,0.1,0.0,0.4,0.1,0.0,0.5,0.0,23.0,8,3]
9,Marketing and sales managers,11-2020,Summary,4.8,0.1,0.7,6.3,0.1,0.9,1.5,31.0,9,3]
10,Marketing managers,11-2021,Line Item,3.0,0.0,1.1,3.9,0.0,1.4,0.9,30.3,10,4]
11,Sales managers,11-2022,Line Item,1.8,0.0,0.5,2.4,0.0,0.6,0.6,32.1,11,4]
12,Public relations and fundraising managers,11-2031,Line Item,1.1,0.0,1.3,1.5,0.0,1.7,0.4,32.6,12,3]
13,Operations specialties managers,11-3000,Summary,32.1,0.4,1.6,41.7,0.4,1.9,9.6,29.9,13,2]
14,Administrative services managers,11-3011,Line Item,11.9,0.2,4.0,15.0,0.2,4.6,3.1,25.7,14,3]
15,Computer and information systems managers,11-3021,Line Item,4.7,0.1,1.1,6.0,0.1,1.3,1.3,27.7,15,3]
16,Financial managers,11-3031,Line Item,9.3,0.1,1.4,12.9,0.1,1.7,3.6,38.4,16,3]
17,Industrial production managers,11-3051,Line Item,0.2,0.0,0.1,0.3,0.0,0.2,0.1,34.0,17,3]
18,Purchasing managers,11-3061,Line Item,0.5,0.0,0.7,0.6,0.0,0.8,0.1,25.3,18,3]
19,Transportation,storage,and distribution managers,11-3071,Line Item,0.2,0.0,0.2,0.3,0.0,0.2,0.1,26.1
20,Compensation and benefits managers,11-3111,Line Item,0.3,0.0,2.1,0.4,0.0,2.5,0.1,21.3,20,3]
21,Human resources managers,11-3121,Line Item,4.0,0.1,2.7,5.2,0.1,3.2,1.1,27.3,21,3]
22,Training and development managers,11-3131,Line Item,0.9,0.0,2.3,1.1,0.0,2.8,0.2,27.9,22,3]
23,Other management occupations,11-9000,Summary,136.3,1.8,2.9,189.2,2.0,3.7,52.9,38.8,23,2]
24,Education administrators,11-9030,Summary,0.5,0.0,0.1,0.6,0.0,0.1,0.1,30.5,26,3]
25,Education administrators,preschool and childcare center/program,11-9031,Line Item,0.1,0.0,0.1,0.1,0.0,0.1,0.0,29.9,27
26,Education administrators,postsecondary,11-9033,Line Item,0.1,0.0,0.1,0.2,0.0,0.1,0.0,22.8,29
27,Education administrators,all other,11-9039,Line Item,0.2,0.0,0.5,0.3,0.0,0.6,0.1,35.3,30
28,Architectural and engineering managers,11-9041,Line Item,0.1,0.0,0.0,0.1,0.0,0.0,0.0,27.3,31,3]
29,Food service managers,11-9051,Line Item,0.1,0.0,0.0,0.2,0.0,0.0,0.0,26.1,32,3]
30,Medical and health services managers,11-9111,Line Item,118.7,1.6,29.2,166.5,1.8,34.9,47.8,40.3,36,3]
31,Natural sciences managers,11-9121,Line Item,1.6,0.0,2.6,2.0,0.0,2.9,0.3,20.6,37,3]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Inspectors,testers,sorters,samplers,and weighers,51-9061,Line Item,0.7,0.0,0.1,0.7,0.0,0.1
454,Medical,dental,and ophthalmic laboratory technicians,51-9080,Summary,13.3,0.2,16.3,14.8,0.2,16.4,1.6,11.9
455,Dental laboratory technicians,51-9081,Line Item,6.2,0.1,17.1,7.0,0.1,17.3,0.8,12.1,991,4]
456,Medical appliance technicians,51-9082,Line Item,1.4,0.0,9.2,1.8,0.0,10.2,0.4,24.6,992,4]
457,Ophthalmic laboratory technicians,51-9083,Line Item,5.6,0.1,18.9,6.0,0.1,18.5,0.5,8.5,993,4]
458,Miscellaneous production workers,51-9190,Summary,0.5,0.0,0.1,0.7,0.0,0.1,0.2,30.1,1001,3]
459,Production workers,all other,51-9199,Line Item,0.4,0.0,0.2,0.5,0.0,0.2,0.1,34.6,1010
460,Transportation and material moving occupations,53-0000,Summary,29.3,0.4,0.3,35.2,0.4,0.3,5.9,20.1,1011,1]
461,Supervisors of transportation and material mov...,53-1000,Summary,1.1,0.0,0.2,1.3,0.0,0.3,0.2,22.0,1012,2]
462,First-Line supervisors of transportation and m...,except aircraft cargo handling supervisors,53-1048,Line Item,1.1,0.0,0.3,1.3,0.0,0.3,0.2,22.0,1014
463,Air transportation workers,53-2000,Summary,4.0,0.1,1.5,4.4,0.0,1.5,0.4,8.9,1015,2]
464,Aircraft pilots and flight engineers,53-2010,Summary,4.0,0.1,3.2,4.4,0.0,3.3,0.4,8.9,1016,3]
465,Commercial pilots,53-2012,Line Item,4.0,0.1,9.8,4.3,0.0,9.9,0.4,8.9,1018,4]
466,Motor vehicle operators,53-3000,Summary,22.6,0.3,0.5,27.5,0.3,0.6,4.9,21.5,1023,2]
467,Ambulance drivers and attendants,except emergency medical technicians,53-3011,Line Item,9.4,0.1,60.2,10.3,0.1,59.3,0.9,9.3,1024
468,Bus drivers,53-3020,Summary,1.5,0.0,0.2,2.0,0.0,0.3,0.5,31.1,1025,3]
469,Bus drivers,school or special client,53-3022,Line Item,1.5,0.0,0.3,2.0,0.0,0.4,0.5,31.0,1027
470,Driver/sales workers and truck drivers,53-3030,Summary,5.1,0.1,0.1,7.0,0.1,0.2,1.9,37.6,1028,3]
471,Driver/sales workers,53-3031,Line Item,0.1,0.0,0.0,0.1,0.0,0.0,0.0,45.7,1029,4]
472,Heavy and tractor-trailer truck drivers,53-3032,Line Item,0.3,0.0,0.0,0.4,0.0,0.0,0.1,26.2,1030,4]
473,Light truck or delivery services drivers,53-3033,Line Item,4.7,0.1,0.5,6.5,0.1,0.6,1.8,38.3,1031,4]
474,Taxi drivers and chauffeurs,53-3041,Line Item,6.4,0.1,1.7,7.9,0.1,1.8,1.5,24.0,1032,3]
475,Motor vehicle operators,all other,53-3099,Line Item,0.2,0.0,0.4,0.3,0.0,0.4,0.1,32.4,1033
476,Other transportation workers,53-6000,Summary,0.4,0.0,0.1,0.4,0.0,0.1,0.0,12.1,1049,2]
477,Parking lot attendants,53-6021,Line Item,0.1,0.0,0.1,0.2,0.0,0.1,0.0,15.5,1051,3]
478,Material moving workers,53-7000,Summary,1.3,0.0,0.0,1.7,0.0,0.0,0.4,30.8,1057,2]
479,Laborers and material movers,hand,53-7060,Summary,1.2,0.0,0.0,1.6,0.0,0.0,0.4,30.0,1066
480,Cleaners of vehicles and equipment,53-7061,Line Item,0.1,0.0,0.0,0.1,0.0,0.0,0.0,10.7,1067,4]
481,Laborers and freight,stock,and material movers,hand,53-7062,Line Item,1.0,0.0,0.0,1.3,0.0,0.0,0.3
482,Packers and packagers,hand,53-7064,Line Item,0.1,0.0,0.0,0.2,0.0,0.0,0.0,31.5,1070

In [35]:
df8 = df7.drop(columns = [' Required', ' Concept',' Attributes',' Limit',' Predicate Type',' Group]'])

In [36]:
df8

                   Name                                              Label
2                AIANHH   American Indian Area/Alaska Native Area/Hawai...
3               AIHHTLI   American Indian Area (Off-Reservation Trust L...
4                AITSCE        American Indian Tribal Subdivision (Census)
5                  ANRC                 Alaska Native Regional Corporation
6                  CBSA   Metropolitan Statistical Area/Micropolitan St...
7                 CD113                    Congressional District (113th)
8                CNECTA            Combined New England City and Town Area
9                CONCIT                                  Consolidated City
10               COUNTY                                      County (FIPS)
11               COUSUB                          County Subdivision (FIPS)
12                  CSA                          Combined Statistical Area
13             DIVISION                                    Census Division
14                  for                       Census API FIPS 'for' clause
15               GEO_ID                                          Geography
16              GEOCOMP                          Geographic Component code
17           GEOVARIANT                                Geographic variant
18                   in                        Census API FIPS 'in' clause
19            LSAD_NAME            Legal/Statistical Area Description name
20               METDIV                              Metropolitan Division
21                NECTA                     New England City and Town Area
22             NECTADIV                 New England City and Town Division
23                PLACE                                      Place (FIPS)
24                PUMA5                     Public Use Microdata Area ? 5%
25               REGION                                      Census Region
26       S0101_C01_001E                  Total!!Estimate!!Total population
27       S0101_C01_002E                Total!!Estimate!!AGE!!Under 5 years
28       S0101_C01_003E                 Total!!Estimate!!AGE!!5 to 9 years
29       S0101_C01_004E               Total!!Estimate!!AGE!!10 to 14 years
30       S0101_C01_005E               Total!!Estimate!!AGE!!15 to 19 years
31       S0101_C01_006E               Total!!Estimate!!AGE!!20 to 24 years
...                 ...                                                ...
14704  S2702PR_C02_090E                Uninsured Population!!Estimate!!$75
14705  S2702PR_C02_091E   Uninsured Population!!Estimate!!Median earnin...
14706  S2702PR_C02_092E   Uninsured Population!!Estimate!!HOUSEHOLD INC...
14707  S2702PR_C02_093E          Uninsured Population!!Estimate!!Under $25
14708  S2702PR_C02_094E                Uninsured Population!!Estimate!!$25
14709  S2702PR_C02_095E                Uninsured Population!!Estimate!!$50
14710  S2702PR_C02_096E                Uninsured Population!!Estimate!!$75
14711  S2702PR_C02_097E               Uninsured Population!!Estimate!!$100
14712  S2702PR_C02_098E   Uninsured Population!!Estimate!!Median househ...
14713  S2702PR_C02_099E   Uninsured Population!!Estimate!!RATIO OF INCO...
14714  S2702PR_C02_100E   Uninsured Population!!Estimate!!Below 50 perc...
14715  S2702PR_C02_101E   Uninsured Population!!Estimate!!50 to 99 perc...
14716  S2702PR_C02_102E   Uninsured Population!!Estimate!!100 to 149 pe...
14717  S2702PR_C02_103E   Uninsured Population!!Estimate!!150 to 199 pe...
14718  S2702PR_C02_104E   Uninsured Population!!Estimate!!200 to 299 pe...
14719  S2702PR_C02_105E   Uninsured Population!!Estimate!!At or above 3...
14720             SDELM                                    School District
14721             SDSEC                                    School District
14722             SDUNI                                    School District
14723              SLDL         State Legislative District (Lower Chamber)
14724              SLDU         State Legislative District (Upper Chamber)
14725             STATE                                       State (FIPS)
14726            SUBMCD                    Sub-Minor Civil Division (FIPS)
14727          SUMLEVEL                                 Summary Level code
14728             TRACT                                       Census Tract
14729            TTRACT                                Tribal Census Tract
14730                UA                                         Urban Area
14731             ucgid         Uniform Census Geography Identifier clause
14732                US                                      United States
14733             ZCTA5              Zip Code Tabulation Area (Five-Digit)

[14732 rows x 2 columns]

In [37]:
list(df8.columns.values)

['Name', ' Label']

In [ ]:
df8.to_csv('CSV_Name_Here')

## Using this script to rename your own columns in a dataframe

There are a couple methods that we can use to

In [41]:
df8[1250:1300]

                Name                                              Label
1252  S0501_C03_005E              Foreign born!!Estimate!!5 to 17 years
1253  S0501_C03_006E             Foreign born!!Estimate!!18 to 24 years
1254  S0501_C03_007E             Foreign born!!Estimate!!25 to 44 years
1255  S0501_C03_008E             Foreign born!!Estimate!!45 to 54 years
1256  S0501_C03_009E             Foreign born!!Estimate!!55 to 64 years
1257  S0501_C03_010E             Foreign born!!Estimate!!65 to 74 years
1258  S0501_C03_011E             Foreign born!!Estimate!!75 to 84 years
1259  S0501_C03_012E          Foreign born!!Estimate!!85 years and over
1260  S0501_C03_013E         Foreign born!!Estimate!!Median age (years)
1261  S0501_C03_014E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1262  S0501_C03_015E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1263  S0501_C03_016E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1264  S0501_C03_017E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1265  S0501_C03_018E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1266  S0501_C03_019E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1267  S0501_C03_020E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1268  S0501_C03_021E   Foreign born!!Estimate!!RACE AND HISPANIC OR ...
1269  S0501_C03_022E   Foreign born!!Estimate!!Hispanic or Latino or...
1270  S0501_C03_023E                Foreign born!!Estimate!!White alone
1271  S0501_C03_024E   Foreign born!!Estimate!!HOUSEHOLD TYPE!!In ma...
1272  S0501_C03_025E   Foreign born!!Estimate!!HOUSEHOLD TYPE!!In ot...
1273  S0501_C03_026E     Foreign born!!Estimate!!Average household size
1274  S0501_C03_027E        Foreign born!!Estimate!!Average family size
1275  S0501_C03_028E   Foreign born!!Estimate!!MARITAL STATUS!!Popul...
1276  S0501_C03_029E   Foreign born!!Estimate!!MARITAL STATUS!!Popul...
1277  S0501_C03_030E   Foreign born!!Estimate!!MARITAL STATUS!!Popul...
1278  S0501_C03_031E   Foreign born!!Estimate!!MARITAL STATUS!!Popul...
1279  S0501_C03_032E   Foreign born!!Estimate!!MARITAL STATUS!!Popul...
1280  S0501_C03_033E   Foreign born!!Estimate!!SCHOOL ENROLLMENT!!Po...
1281  S0501_C03_034E   Foreign born!!Estimate!!SCHOOL ENROLLMENT!!Po...
1282  S0501_C03_035E   Foreign born!!Estimate!!SCHOOL ENROLLMENT!!Po...
1283  S0501_C03_036E   Foreign born!!Estimate!!SCHOOL ENROLLMENT!!Po...
1284  S0501_C03_037E   Foreign born!!Estimate!!SCHOOL ENROLLMENT!!Po...
1285  S0501_C03_038E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1286  S0501_C03_039E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1287  S0501_C03_040E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1288  S0501_C03_041E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1289  S0501_C03_042E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1290  S0501_C03_043E   Foreign born!!Estimate!!EDUCATIONAL ATTAINMEN...
1291  S0501_C03_044E   Foreign born!!Estimate!!LANGUAGE SPOKEN AT HO...
1292  S0501_C03_045E   Foreign born!!Estimate!!LANGUAGE SPOKEN AT HO...
1293  S0501_C03_046E   Foreign born!!Estimate!!LANGUAGE SPOKEN AT HO...
1294  S0501_C03_047E   Foreign born!!Estimate!!LANGUAGE SPOKEN AT HO...
1295  S0501_C03_048E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1296  S0501_C03_049E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1297  S0501_C03_050E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1298  S0501_C03_051E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1299  S0501_C03_052E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1300  S0501_C03_053E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...
1301  S0501_C03_054E   Foreign born!!Estimate!!EMPLOYMENT STATUS!!Po...